.bookingsection{
    padding-block-start: 100px;
  }
  
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 16px;
  }
  
  
.booking-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-block-start: 20px;
  flex-wrap: wrap;
}

.booking-container{
  margin: 30px 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 8px;
}

.booking-container table{
  width: 100%;
  border-collapse: collapse;
}

.booking-container table th,
.booking-container table td{
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.booking-container table th{
  background-color: var(--primary-40);
  color: var(--white);
}


table tr:hover {
  background-color: #ffffff;
}

table tr td{
  font-size: 18px;
  font-weight: 500;
}

table .actionbtn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

table .actionbtn .btn {
  margin-block: 23px;
  text-decoration: none;
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 10px;
  transition: all .2s ease;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

table .actionbtn .btn-primary{
  background-color: green;
}

table .actionbtn .btn:hover{
  transform: scale(.95);
}
